body {
    margin: 0;
    min-height: 100vh;
    color: white;
}

.table {
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.button {
    position: absolute;
    font: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: yellow;
    cursor: pointer;
    border-radius: 5px;
}

.deal {
    top: 20vh;
    left: 14vw;
}

.bet {
    top: 20vh;
    right: 14vw;
}

.fold {
    top: 30vh;
    right: 14vw;
}

.mulligan {
    position: absolute;
    bottom: 10vh;
    left: 46vw;
    font: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: yellow;
    cursor: pointer;
    border-radius: 5px;
}

.discard {
    height: 200px;
    width: 150px;
    position: absolute;
    left: 2vw;
    top: 40vh;
}

.value {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 2rem;
    color: white;
}

.hand {
    position: relative;
    left: 45vw;
    top: 50vh;
    width: 900px;
}

.card {
    display: flex;
    place-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 200px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    transform-origin: center;
    transition: transform 0.5s;
    font-size: 1.75rem;
    cursor: pointer;
    user-select: none;
}

.card:hover {
    border-color: yellow;
}

.icon {
    font-size: 2rem;
    position: absolute;
}

.top {
    top: 0;
    left: 0.5rem;
}

.bottom {
    bottom: 0;
    right: 0.5rem;
    transform: rotate(180deg);
}

.card-body {
    display: grid;
    min-height: 100px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.middle {
    position: absolute;
}

.royal {
    font-size: 4rem;
    position: absolute;
}

.red {
    color: red;
}

.selected {
    border-color: blue !important;
}

.hidden {
    display: none;
}

.blackout::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(/images/clipart2767979.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.card:nth-child(1) {
    animation: card-1 2s linear 1;
    transform: translate(-190px, 55px) rotate(-31deg);
    z-index: 1;
} 

.card:nth-child(1):hover {
    transform: translate(-190px, 35px) rotate(-31deg) scale(1.1);
    z-index: 6;
} 

@keyframes card-1 {
    0% {
        transform: translate(0, -2000px) rotate(-1440deg);
    }

    100% {
        transform: translate(-190px, 55px) rotate(-31deg);
    }
}

.card:nth-child(2) {
    animation: card-2 2.5s linear;
    transform: translate(-100px, 15px) rotate(-15deg);
    z-index: 2;
}

.card:nth-child(2):hover {
    transform: translate(-100px, -5px) rotate(-15deg) scale(1.1);
    z-index: 6;
}

@keyframes card-2 {
    0% {
        transform: translate(0, -2000px) rotate(-1440deg);
    }

    100% {
        transform: translate(-100px, 15px) rotate(-15deg);
    }
}

.card:nth-child(3) {
    animation: card-3 3s linear;
    transform: translate(0, 0) rotate(0deg) ;
    z-index: 3;
}

.card:nth-child(3):hover {
    transform: translate(0, -20px) rotate(0deg) scale(1.1);
    z-index: 6;
}

@keyframes card-3 {
    0% {
        transform: translate(0, -2000px) rotate(-1440deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg) ;
    }
}

.card:nth-child(4) {
    animation: card-4 3.5s linear;
    transform: translate(100px, 15px) rotate(15deg);
    z-index: 4;
}

.card:nth-child(4):hover {
    transform: translate(100px, -5px) rotate(15deg) scale(1.1);
    z-index: 6;
}

@keyframes card-4 {
    0% {
        transform: translate(0, -2000px) rotate(-1440deg);
    }

    100% {
        transform: translate(100px, 15px) rotate(15deg);
    }
}

.card:nth-child(5) {
    animation: card-5 4s linear;
    transform: translate(190px, 55px) rotate(31deg);
    z-index: 5;
}

.card:nth-child(5):hover {
    transform: translate(190px, 35px) rotate(31deg) scale(1.1);
    z-index: 6;
}

@keyframes card-5 {
    0% {
        transform: translate(0, -2000px) rotate(-1440deg);
    }

    100% {
        transform: translate(190px, 55px) rotate(31deg);
    }
}

.chips-container {
    position: absolute;
    top: 50vh;
    right: 5vw;
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-areas: 
        'fives twos ones'
        'count-fives count-twos count-ones';
        grid-template-columns: 120px 120px 120px;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 20px solid;
    background-color: white;
    font-size: 2rem;
    color: black;
    font-weight: bold;
    cursor: grab;
}

.chip-500 {
    border-color: orange;
    grid-area: fives;
}

.chip-200 {
    border-color: cyan;
    grid-area: twos;
}

.chip-100 {
    border-color: purple;
    grid-area: ones;
}

[class^="count"] {
    align-self: flex-start;
    font-size: 1.25rem;
    height: 0;
}

.count-500 {
    grid-area: count-fives;
}

.count-200 {
    grid-area: count-twos;
}

.count-100 {
    grid-area: count-ones;
}

.pot {
    position: absolute;
    top: 5vh;
    left: 31vw;
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.5rem;
}